<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>人脸识别</title>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <style>
        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            width: 400px;
            float: left;
            margin: 20px;
        }

        #show_img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        #s_img {
            height: 70px;
            width: 70px;
        }

        #small_img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
    </style>
</head>

<body>

    <div>
        <div>
            <h3>人脸识别（可选择上传本地文件或者拍照上传）</h3>
            <p>建议使用谷歌浏览器打开，其次使用IE浏览器</p>
            <p>其他浏览器打开遇到问题咱也没法呀</p>
        </div>
        <div class="img" style="background-color:	silver ;">
            <img id="show_img" alt="" />
        </div>
        <!-- <form action="/api/upload" method="POST" enctype="multipart/form-data"> -->
        <table width="30%" border="0" cellspacing="0" cellpadding="0">

            <tr>
                <td width="100" height="30" align="right">人脸：</td>
                <td height="40"><label for="textfield"></label>
                    <div class="small_img" id="s_img" style="background-color:	silver ;">
                        <img id="small_img" alt="" />
                    </div>
                    <!-- <img id="small_img" alt="" /> -->
                    <!-- <input name="age" type="text" id="textfield1" size="25" style="border:none"> -->
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">年龄：</td>
                <td height="40"><label for="textfield"></label>
                    <!-- <input name="age" type="text" id="textfield1" size="25" style="border:none"></td> -->
                    <p id="age"></p>
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">颜值：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="beauty" type="text" id="textfield2" size="25" style="border:none"></td> -->
                    <p id="beauty"></p>
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">表情：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="emo" type="text" id="textfield3" size="25" style="border:none"></td> -->
                    <p id="expression"></p>
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">脸型：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="square" type="text" id="textfield4" size="25" style="border:none"></td> -->
                    <p id="face_shape"></p>
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">性别：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="sex" type="text" id="textfield5" size="25" style="border:none"></td> -->
                    <p id="gender"></p>
                </td>
            </tr>

            <tr>
                <td width="100" height="30" align="right">眼镜：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="glasses" type="text" id="textfield6" size="25" style="border:none"></td> -->
                    <p id="glasses"></p>
            </tr>

            <tr>
                <td width="100" height="30" align="right">情绪：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="emotion" type="text" id="textfield7" size="25" style="border:none"></td> -->
                    <p id="emotion"></p>
            </tr>

            <tr>
                <td width="100" height="30" align="right">肤色：</td>
                <td height="40"><label for="textfield2"></label>
                    <!-- <input name="race" type="text" id="textfield8" size="25" style="border:none"></td> -->
                    <p id="race"></p>
            </tr>

            <tr>
                <td width="100" height="30" align="right">选择图片文件</td>
                <td height="40"><label for="textfield2"></label>
                    <input name="file" id="img_upload" type="file" accept="image/jpeg,image/png,image/gif,image/bmp" />
                    <input type="button" onclick="upload()" value="上传" />
                    <input type=button value=刷新 onclick="location.reload()">
            </tr>
            <tr>
                <td width="100" height="30" align="right"></td>
                <td height="40"><label for="textfield2"></label>
                    <button onclick="openMedia()">开启摄像头</button>
                    <button onclick="closeMedia()">关闭摄像头</button>
                    <button onclick="takePhoto()">拍照</button>
                    <button onclick="camera_upload()">上传</button>


            </tr>

        </table>
        <video id="video" width="400px" height="400px" autoplay="autoplay"></video>
        <canvas id="canvas" width="400px" height="400px"></canvas>
        <!-- </form> -->

    </div>
    <p><a href="/question">谷歌浏览器打不开摄像头请点我</a></p>
    <p><a href="/index">返回首页</a></p>

    <script>
        function upload() {
            clean();
            document.getElementById("video").src = '';
            // document.getElementById("show_img").src = '';
            // document.getElementById("small_img").src = '';
            // document.getElementById("age").innerText = '';
            // document.getElementById("beauty").innerText = '';
            // document.getElementById("emotion").innerText = '';
            // document.getElementById("expression").innerText = '';
            // document.getElementById("face_shape").innerText = '';
            // document.getElementById("gender").innerText = '';
            // document.getElementById("glasses").innerText = '';
            // document.getElementById("race").innerText = '';
            var cover = new FormData();
            var fileObj = document.getElementById('img_upload').files[0];
            cover.append('file', fileObj)
            $.ajax({
                type: 'post',
                url: '/api/upload',
                data: cover,
                async: false,
                processData: false,
                contentType: false,
                success: function (data, status) {
                    eval("var data = " + data);
                    if (data.code == 0) {
                        console.log(data);
                        console.log('bdai_face上传', data.data);
                        document.getElementById("show_img").src = data.data.image_path;
                        $.ajax({
                            type: 'post',
                            url: '/api/bdai_face',
                            data: data.data,
                            success: function (data, status) {
                                eval("var data = " + data);
                                if (data.code == 0) {
                                    console.log(data);
                                    document.getElementById("small_img").src = data.data.small_image_path
                                    document.getElementById("age").innerText = data.data.age
                                    document.getElementById("beauty").innerText = data.data.beauty
                                    document.getElementById("emotion").innerText = data.data.emotion
                                    document.getElementById("expression").innerText = data.data.expression
                                    document.getElementById("face_shape").innerText = data.data.face_shape
                                    document.getElementById("gender").innerText = data.data.gender
                                    document.getElementById("glasses").innerText = data.data.glasses
                                    document.getElementById("race").innerText = data.data.race

                                } else {
                                    console.log(data);
                                    alert(data.msg);
                                }
                            }
                        });
                    } else {
                        alert(data.msg);
                    }
                },
            });
        };

        function openMedia() {
            let constraints = {
                video: { width: 500, height: 500 },
                audio: true
            };
            //获得video摄像头
            let video = document.getElementById('video');
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then((mediaStream) => {
                mediaStreamTrack = typeof mediaStream.stop === 'function' ? mediaStream : mediaStream.getTracks()[1];
                video.srcObject = mediaStream;
                video.play();
            });
        }

        // 拍照
        function takePhoto() {
            //获得Canvas对象
            let video = document.getElementById('video');
            let canvas = document.getElementById('canvas');
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 400, 400);

            // toDataURL  ---  可传入'image/png'---默认, 'image/jpeg'
            var img = document.getElementById('canvas').toDataURL();
            // 这里的img就是得到的图片
            console.log('img-----', img);
            // document.getElementById('imgTag').src=img;
        }

        function camera_upload() {
            clean();
            document.getElementById("show_img").src = '';
            var img = document.getElementById('canvas').toDataURL();
            console.log('upload的img--', img)
            // var cover = new FormData();
            // cover.append('file', img)
            // console.log('upload的cover--', cover)
            let cover = { 'file': img }
            console.log('upload的cover--', cover)
            $.ajax({
                type: 'post',
                url: '/api/b64upload',
                data: cover,
                success: function (data, status) {
                    eval("var data = " + data);
                    if (data.code == 0) {
                        console.log('ipload--data:', data);
                        $.ajax({
                            type: 'post',
                            url: '/api/bdai_face',
                            data: data.data,
                            success: function (data, status) {
                                eval("var data = " + data);
                                if (data.code == 0) {
                                    console.log(data);
                                    document.getElementById("small_img").src = data.data.small_image_path
                                    document.getElementById("age").innerText = data.data.age
                                    document.getElementById("beauty").innerText = data.data.beauty
                                    document.getElementById("emotion").innerText = data.data.emotion
                                    document.getElementById("expression").innerText = data.data.expression
                                    document.getElementById("face_shape").innerText = data.data.face_shape
                                    document.getElementById("gender").innerText = data.data.gender
                                    document.getElementById("glasses").innerText = data.data.glasses
                                    document.getElementById("race").innerText = data.data.race

                                } else {
                                    console.log(data);
                                    alert(data.msg);
                                }
                            }
                        })
                    } else {
                        alt(data.msg);
                    }
                }
            })
        }

        // 关闭摄像头
        function closeMedia() {
            mediaStreamTrack.stop();
        }

        function clean() {
            // document.getElementById("show_img").src = '';
            console.log('执行了清除程序')
            document.getElementById("small_img").src = '';
            document.getElementById("age").innerText = '';
            document.getElementById("beauty").innerText = '';
            document.getElementById("emotion").innerText = '';
            document.getElementById("expression").innerText = '';
            document.getElementById("face_shape").innerText = '';
            document.getElementById("gender").innerText = '';
            document.getElementById("glasses").innerText = '';
            document.getElementById("race").innerText = '';
        }
    </script>

    <!-- <script>
        function upload() {
            var file=$("#img_upload")[0].files[0];
            console.log(file)
            if(file==null)
                return;
            var formData=new FormData();
            formData.append('image_path',file);
            $.ajax({
                url:"/api/bdai_face",
                type:'POST',
                cache:false,
                data:formData,
                processData:false,
                contentType:false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(res){
                    console.log(res)
                }
            });
        }
    </script> -->




</body>

</html>